body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url(https://lh3.googleusercontent.com/0V_y8uevAq_bpIr26cDCnxyRMYtjdfqthJKNE-hnMt5kRpWEQzMEc5HfEYVEE72gLNY_iZr5en_iAj8_4JuCy6plGeOjsq04njAAwOTr4TzFPa08iahZGhv3xqNyjKf6zkuA7Fank13R2YPSiOvKggcb__bQpvGqJvObehWWi2QEZ4EMyI6sMTbWIZ5qIx4q--d2vI9hykej4Nb5suYvz3tNizpBG0o5w3ZHBAgnAK6o0VjKXVH0rtxLquSCvamC5Tdag0dPgxO8hA60r7Xne7lu9Y5o4l84whZBncttRs8p4VkU85-qzEZIaRgz7TrAJ2CHZsdozOSfYTrOYxwuEznaZxzCOLsy03Id5Un4YCnO9_G696zitW5gDCtntWUmkMo2vPzbcCaELFOiF-LCp8EaQwLK0wApYIOzl1sYZRcbEaP1uJzDiFN1wEyf_apFCli2bu97iMqscc3DFzrVhto3VSZv4VH3syDca-uki7pquIN-nV5_lLK8AYoQT9fn6FKSMFeE9aGprm45ETjVZzwp0W-BNDn5detuix-VdRmV43KkLbUOmGdJJaGxbSqG6zZ3fQ3LrUPJb467uUjMa09XGHTJBE2wnbsM7Kpe-1UjVUa4b37hJAXSGewjg2_FB2_d2oDpQeZgX59UHRqC_6no_qfZPa22gmI4PyKt8GKdBPKCidO4GiZu6W4afGVr0EGOjA86lmcKy505zHf5omxjhQ=w1383-h1037-no?authuser=0);
  /* Add the blur effect */
  filter: blur(.px);
  -webkit-filter: blur(.px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 100%;
  left: -31px;
  opacity: 0;
  position: absolute;
  top: -7.5px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) { background-image: url(https://lh3.googleusercontent.com/0sRGE0cG4v-o0stB0zFYYX3c_KLR1NcADlm_srV5rYUFHz5M9f1wxGzBjioa2isXNvV65QDiX3xZaflwFF8IqNwN_-clb1YgwszvIKkvxhAXosr10cWEax8-5P9OF86cYiTkTG2FUe-G-yXvF0mayLSaJuOkin1pPSBWsPife1EUQycW63O3Mh7UmApHBP2nFyoQFCHhhtBR59jXLz-n8GuACz4vqjKiyxqp5_lIZLWy_qjJkwixxB_y9gRqlhDmCpcBOcEhvFAGsynxT8ukdQcGhXkTwNclxnpjjGJvs-fSY2J89e_4hHYd_KiZomeJWsmS838qzdvTpz0Yfd7StIJ0CBbsRa6-WOF3zbKIgvrAuqQPaYsI0MXLSYh1K2NOkDKTwfu7_pTRkTrOvR4SM6ijgvJt79lOlBrfW6ilbuZ9F29QAy-Nr3uVZHu7ffmizRwibObQ1KspxBlGIsh8BMs0e7KOiVewrqNiPHb_PZWcMJYgkGX8To8uPRwcBGwLhi34iwQo2YuPuOvyahIx68i0azoXWP4Ctx-GhTaEqSbEzOnsx1Ji_Mxch6WPiK9hWS8KEJnDQPTf7tKB5Fdf5jJtdXXGwoJyYR1A5SZbMzROexnLZpAKnkZrOnBECKclNZ-0CpZiGztkSghsW6WkJGb1Cps_JngSpK8u6ZkUDwV8wyvbCrezvpvrmrYrSdRHV7Hrh-bpGivzTML9iM7K-MuJ8Q=w1383-h1037-no?authuser=0); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url(https://lh3.googleusercontent.com/vNt5tEGBaqEan5v3LqaHmus-v5v-5urSlUBwraSZgLyuEASlBI6-gUs5tV3eNjVFkm1Gcg2cl2FBQ7tPS8hGQJj_GEwq0AaXTduc1ChEFUuypYPkDUIoWGpSIBUH5zKn6RqjcU2syKnw9ejXgiTMXY_XBFzUiQ8ZmGmaS6PPQ2oDrKoon5ytBlsMJ9LVSfH_6sgZ7jgcOvGC6htsTjmuh0mD3m2exSDZSzBoWVeJ8e1kvl20g5HxsuTj4AoRj9ZDKlLJAHTSBofbaxdjdcTgxQbNkBXQOv1G5bhsb509zDWldVmBY4jPtEKhsjdzG_GRsFKYIqOegmJENzSjuuJihpZKL07Iim1rf0cbQOKX5ZR8rCt_3eiD6DtfdWy5QNXbHsvJd_NdFW2_LeBRKyhzp1EdhprjrBLpMOccTayoTy0tY4WjbY-8IyISkRzViYjygWjpFBBxd-uQUcR88Q0NV4z1ms4fP79l_nMMSnOqvvYgrhO2fyZT0h-gBGPRhKm5Rq_LPDdqojRaqy0t7gvaBg5-UFIsfcwU2WfwfqKnOtEqCLdL7vTPIVyll27ijYyPixv4Md3vzqE6_w7Y0Wdfe3PUK9EQSzmQbkWKqUVsTKPAPzK5UuBGegdpLFQOuhXf_9ih0nFL8s2E8_LE7p3u9YbhBcwmDVimuL41cBBBKoLioLhBMOycgZvjZNN3KEjKretxJJElBpwAqRsxl0CYCdJy_A=w1383-h1037-no?authuser=0);
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url(https://lh3.googleusercontent.com/S0yDT5j0rbakxsX4xh_e71LWeC-vPqZFO3Besuh0xIAwjN6XjPYaja648n-NQ4fbpXamhKq4m_WkkVmQOjp6EArObh4Sg33DI_BjW8YtZWPkpMaQXvVwMYnUcbbA1kZ6sK6XHjKkH6nOUkUnoR200vv9r030RwQBI9tYnj9ppzoniFpl7MpaJZdRPRxUDE7dTAcXITCO6V1EsRWh2p7HmhMMttodREMLYbJ1l9-mVSoCB2PNtDNTESXgcRmGnTn3qLo3xH8k6Ey6_UwdJnRINetcEXON0mfVLrAqC3Eo2h93epijHPm2vikh9mav5s2prMpVlqxunm4YDxxPwZS_XLF_DVXJrK9k-yChn0eQZpPUNYty02UsfbY6MY-ZpTYtJ5A34Kkf9hA1iW6DxACQN8q3NKvsz-jNH-0z6z-bfihtTE1Cf9wyfv1NjCc_pk-MCn8qor19nFgNROTDeySnTpj45iB9r_a32ZKGuPOgMxk-ZPTuf442HEjK7JK-YFUQU29AYZYhewwznc8PhYbPb7YNKu0uTkXZzCVIyl68DwMsENON3h-_y3Rr_-UyHpJj5R_jKz1xHFgk7HdL4DY855ieLGRSNMp_5q6V6l2IGGbyKqtJ-qDt-JUNkvlmXuaBB4VLPjUO0x__3oSg0qeUS5sg77wBQdpwMnHCIRUZicltXIqvkYjF_EU0tRR-6CNVb__9Aa43rFYLFjg92hnuof4s2Q=w1383-h1037-no?authuser=0);
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url(https://lh3.googleusercontent.com/MWGb8baRLjZH5opVzI1wMxSbHguHiPuDrlNnYPid3ERp-X2lxvgNPgEm-V9zF5yHsTFY6ySB5Ws8MKccs5PckBy7aza18OmaC6m8awOHNZLmf004isrvY_6OZLJ5xzvx78uh2nzM8OZC5mcef64qBDHF0A6-KEY7JYxI1qRiYV-Mb3Qgx2AG4AOQynlh3O-3zvaiED1TvdU6IAoHCcxTaq7g3FoloHB_2FyQdwYTFp_yyl6OAL7ZlqT0zdOX8l8VFZPq50flkNCWIbraR8DVi3nhwy6DTnv4Anna06AwhxhxL80pqwv0wYBjgKZRAeVv3C5tjr7ro0_jphT6Igq_vy1Xou7lpdButipiUEXyPtzN4HYMa0RCZGbdePital2_Xl3dz05RBrUz-MH3u2DAcDkGHEPt90lSxjUmvOdVyRmzmdXwArtktSlW--D_Ke-GpvJ_zW5OYXHPOg6slLeq2OmJzd9QRVeRpbstf3aW-lRGz11EsPEmCKbs7zjHgx8jzDKdTrs-oWcHzYUE9dK3J2Hb3p6kb-7ulJyVAqR49ms5WpS8JwEk_Ee_zGYgsc4XHtdFWe0pKg_B9ZEJwd6clMN-xPbPvZBuVCZI1dHLl7sGXqcPHDmOsjtOTb-kcZVjswf3KBa2bGIq3_wfGX05sM43pMFsAUNFc0fkWYUOtRLojOwQ0vmqljUavVlAICjguSZ2EYVkbVF9d05aTbHzvOgNuQ=w1383-h1037-no?authuser=0);
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url(https://lh3.googleusercontent.com/3RPT6NFCugo_Uog9nvz8yrRm2_FEqUFWVFRrJtw1YFVI54zQ6NTjeLtPVPNCGCA35iFvZTOXwhA9cxrrfQuVu_swh_0l0SUxpwIOuUFmMaklIUfyXEK7V1OFQtZgSUSuc7He16W-xMYQ1aKxzXVa2tYKRc1t2_NOFkKIYl31cfzziALeZfErEQCnPJOwhVmBYKAjCe6Pd9J3OLtcwqtUj1ZnUNPrCvGigfOLJnyPzY_MDZElpC9wGzCnlKGeX2krlZMbwSG1aTXC_LMW-Qcriqqi9xRYloYRAbWfJtFFVNkt8YhJyn6wexLC51ILj4o-_heEPLYxYI6MUcp8OJ1A7ZVj9XUVv0LieIQmjTUd0e3kq3hxaPivF3IMhctyBvP-omSUAUzCxVj2G6BZhHlR1YOidOrs3Kfu7jAyFf4qjCDunMGfUZA3mswjV-XI-GNHRlPkziWqXHC2Ne6tvJA9y1txmqvv1BqpdGOM87GFQfxfr6t6hDBej3PuZAIpHJS5oCpV4n7LF1PyZ3xim1BGjfRvgDM7inYWk011nkG6-s_29d-9A0U5Uj7ztzG8QO2im_oRUFejMibtMFnsDl5myy29WqfvjZyE23_cNdgi5p4aFBhj2uy7pV4561Df7qOHSN9VsMEaeR3P0GhCpL-kMiCek9mHSX0fIjvaIPlw-YfFf4egMWumyOf5jWb091wrXBLx7njwcnF6PVyGld2AUO7L7A=w1383-h1037-no?authuser=0);
}

@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}
